@page
@model BenefitsCalc.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.ID" />
            <div class="form-group">
                <label asp-for="Employee.FName" class="control-label"></label>
                <input asp-for="Employee.FName" class="form-control" />
                <span asp-validation-for="Employee.FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LName" class="control-label"></label>
                <input asp-for="Employee.LName" class="form-control" />
                <span asp-validation-for="Employee.LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.GrossPay" class="control-label"></label>
                <input asp-for="Employee.GrossPay" class="form-control" />
                <span asp-validation-for="Employee.GrossPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.NetPay" class="control-label"></label>
                <input asp-for="Employee.NetPay" class="form-control" />
                <span asp-validation-for="Employee.NetPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.BenefitsCost" class="control-label"></label>
                <input asp-for="Employee.BenefitsCost" class="form-control" />
                <span asp-validation-for="Employee.BenefitsCost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Employee.isBenefitsDiscount" /> @Html.DisplayNameFor(model => model.Employee.isBenefitsDiscount)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
